<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>
<body>
<!-- Barra de navegación -->
<div class="navbar">
    <div class="logo">
        <a href="{{ url_for('home') }}">
            <span class="brand"><span class="fast">Cos</span><span class="highlight">Dent</span></span>
        </a>
    </div>
</div>

<!-- Contenido de la página -->
<div class="form-container confirmacion" id="confirmacion">
    <h1>Pago</h1>
    <h2>Datos para Transferencia</h2>
    <h3>Alias: <strong class="highlight2">Caleb Gomez</strong></h3>
    <h3>Teléfono: <strong class="highlight2">0985 924 184</strong></h3>
    <h3>Banco: <strong class="highlight2"> Familiar</strong></h3>
    <h3>Monto a transferir: <strong class="highlight2"><span class="precio">{{ total_price }}</span> Gs</strong></h3>
    <h2>Productos</h2>
    <ul>
        {% for producto, precio, cantidad, imagen in productos_precios %}
            <li>
                <div class="product-container-form">
                    <img src="{{ imagen }}" alt="{{ producto }}">
                    <div>
                        <p><strong>{{ producto }}</strong></p>
                        <p>Precio: <span class="precio">{{ precio }}</span> Gs</p>
                        <p>Cantidad: {{ cantidad }}</p>
                        <p>Sub total: <span class="precio">{{ precio * cantidad }}</span> Gs</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <p><strong>Total:</strong> <span class="precio">{{ total_price }}</span> Gs</p>
    <button id="sendMessage" class="submit-button button-form">Enviar Comprobante</button>
    <button onclick="window.location.href='{{ url_for('catalogo') }}'" class="submit-button button-form">Volver al catálogo</button>
    <button id="downloadImage" class="submit-button button-form">Descargar Detalles</button>
</div>
<footer>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">No contamos con tienda física, pero facilitamos nuestra dirección para retiro de productos.</p>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">Dirección: Caraguatay entre Chivato y Monseñor, Lambare - Paraguay</p>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">Teléfono: +595 985 924184</p>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">Disculpe los errores - Página en construcción.</p>
</footer>
<script>
    function formatPrice(price) {
        if (price === undefined) {
            return '0';
        }
        return price.toLocaleString('es-ES');
    }

    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.precio').forEach(function(element) {
            element.textContent = formatPrice(parseInt(element.textContent));
        });
    });

    document.getElementById('downloadImage').addEventListener('click', function() {
        html2canvas(document.getElementById('confirmacion')).then(function(canvas) {
            let link = document.createElement('a');
            link.download = 'confirmacion_pedido.png';
            link.href = canvas.toDataURL();
            link.click();
        });
    });

    document.getElementById('sendMessage').addEventListener('click', function() {
        const phoneNumber = '595985924184';
        const message = encodeURIComponent('Hola, adjunto el comprobante de pago.');
        window.open(`https://wa.me/${phoneNumber}?text=${message}`, '_blank');
    });
</script>
</body>
</html>
