<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Pedido</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Montserrat:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
<!-- Barra de navegación -->
<!-- Barra de navegación -->
<div class="navbar">
    <div class="logo">
        <a href="{{ url_for('home') }}">
            <span class="brand"><span class="fast">Cos</span><span class="highlight">Dent</span></span>
        </a>
    </div>
</div>



<div class="form-container">
    <h1>Formulario de Pedido</h1>
    <form action="/pedido" method="POST">
        <div class="input-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="input-group">
            <label for="phone">Número de Teléfono:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        <div class="input-group">
            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" name="cedula" required>
        </div>

        <h3>Detalles del Pedido</h3>
        <div id="orderDetails"></div>
        
        <p><strong>Total:</strong> <span id="total_price">0.00</span></p>
        <input type="hidden" name="productName" id="hiddenProductName">
        <input type="hidden" name="productPrice" id="hiddenProductPrice">
        <input type="hidden" name="cantidad" id="hiddenCantidad">
        <input type="hidden" name="total_price" id="hiddenTotal_price">
        <input type="hidden" name="productImage" id="hiddenProductImage">

        <button type="submit" class="button-form submit-button">Enviar Pedido</button>
    </form>
</div>
<footer>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">No contamos con tienda física, pero facilitamos nuestra dirección para retiro de productos.</p>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">Dirección: Caraguatay entre Chivato y Monseñor, Lambare - Paraguay</p>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">Teléfono: +595 985 924184</p>
    <p class="gradient-text" style="font-size: 14px; font-weight: 300;">Disculpe los errores - Página en construcción.</p>
</footer>  
    <script>
        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        let total = 0;
        let orderDetails = document.getElementById('orderDetails');
    
        if (cart.length > 0) {
            cart.forEach(item => {
                // Asegúrate de que la cantidad sea un número válido y no vacío
                item.quantity = item.quantity === "" || isNaN(item.quantity) ? 0 : parseInt(item.quantity);
                item.precio = parseFloat(item.precio); // Asegúrate de que el precio sea un número
    
                // Calcula el total por cada producto considerando su cantidad
                let totalItem = item.precio * item.quantity;
                total += totalItem;
    
                let productHTML = `
                    <div class="product-container-form">
                        <img src="${item.imagen}" alt="${item.nombre}">
                        <div>
                            <p><strong>${item.nombre}</strong></p>
                            <p>Precio: ${item.precio.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ".")} Gs</p>
                            <p>Cantidad: ${item.quantity}</p>
                            <p>Total por producto: ${totalItem.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ".")} Gs</p>
                        </div>
                    </div>
                `;
                orderDetails.innerHTML += productHTML;
            });
    
            // Muestra el total acumulado
            document.getElementById('total_price').textContent = total.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " Gs";
    
            // Enviar los datos ocultos del formulario
            document.getElementById('hiddenProductName').value = cart.map(item => item.nombre).join(',');
            document.getElementById('hiddenProductPrice').value = cart.map(item => item.precio).join(',');
            document.getElementById('hiddenCantidad').value = cart.map(item => item.quantity).join(',');
            document.getElementById('hiddenTotal_price').value = total.toFixed(0);
            document.getElementById('hiddenProductImage').value = cart.map(item => item.imagen).join(',');
        } else {
            orderDetails.innerHTML = "<p>No hay productos en el carrito.</p>";
    
            // Si el carrito está vacío, aseguramos que los campos ocultos estén vacíos
            document.getElementById('hiddenProductName').value = '';
            document.getElementById('hiddenProductPrice').value = '';
            document.getElementById('hiddenCantidad').value = '';
            document.getElementById('hiddenTotal_price').value = '';
            document.getElementById('hiddenProductImage').value = '';
        }
    
        // Validación al enviar el formulario
        document.querySelector("form").addEventListener("submit", function() {
            // Validar cantidades nuevamente antes de enviar
            cart.forEach(item => {
                item.quantity = item.quantity === "" || isNaN(item.quantity) ? 0 : parseInt(item.quantity);
            });
    
            // Guardar los datos corregidos
            localStorage.setItem('cart', JSON.stringify(cart));
            localStorage.removeItem("cart"); // Limpiar el carrito después de enviar el pedido
        });
    </script>
</body>
</html>